[Unit]
Description=Skivevender Server

[Service]
ExecStart=/usr/bin/nodejs /home/pi/skive_vender/bin/www
WorkingDirectory=/home/pi/skive_vender
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=skivevender
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production PORT=80

[Install]
WantedBy=multi-user.target
